@page "/testing/selectTag"

@inject NavigationManager navigationManager

<div class="row">
    <div class="col-6">
        <h3>Выберите дисциплину</h3>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Название дисциплины</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Tags)
        {
            <tr>
                <td><a href="testing/@tag.Id/selectMaterial">@tag.Name</a></td>
            </tr>
        }
    </tbody>
</table>

@code {
    private TagForCreationDto Tag = new TagForCreationDto();
    private IEnumerable<TagDto> Tags { get; set; } = new List<TagDto>();

    private HttpClient client = new HttpClient();

    protected override async Task OnParametersSetAsync()
    {
        client = new HttpClient();
        Tags = await client.GetFromJsonAsync<IEnumerable<TagDto>>("http://localhost:5000/api/tags");
    }
}
