<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Тестирование студентов</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="testing/selectTag">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Тестирование
            </NavLink>
        </li>
        @if (MainLayout.CurrentUser != null && MainLayout.CurrentUser.UserName == "Administrator")
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="students/createGroup" Match="NavLinkMatch.All">
                    <span class="oi oi-bell" aria-hidden="true"></span> Список студентов
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="tests/createTag" Match="NavLinkMatch.All">
                    <span class="oi oi-book" aria-hidden="true"></span> Список вопросов
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
