@page "/"

<h1>Главная страница</h1>

<AuthorizeView>
    <NotAuthorized>
        Not authorized
    </NotAuthorized>
    <Authorizing>
        Authorizing
    </Authorizing>
    <Authorized>
        Authorized
    </Authorized>
</AuthorizeView>